.cstm-btn {
    display: block;
    margin: 10px auto;
    min-width: 90px;
    min-height: 35px;
    background-color: #005792;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;

    position: relative;
}

.cstm-btn:active {
    background: grey;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    border: none;
}
.alert {
    position: absolute;
    z-index: 100px;
    bottom: 60px;
    color: blue;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
    font-size: 12px;
    text-align: center;
}
