.form-card {
    background-color: #f0f0f0;
    max-height: 95%;
    max-width: 80%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-card-border {
    border: 2px #ffdab9 solid;
}
.form {
    width: 100%;
}
.form-card .form-header {
    width: 200px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
}

@media (max-width: 1200px) {
    .form-card {
        max-height: 90%;
        max-width: 80%;
    }
    .form-header {
        font-size: 16px;
        margin-bottom: 0px;
    }
}
@media (max-width: 600px) {
    .form-card {
        max-width: 80%;
        max-height: 90%;
    }
}
