.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 88%;
    height: 20px;
    background-color: aliceblue;
    margin: 0 auto 10px;
    border-radius: 20px;
    border: 1px gray double;
    font-size: 16px;
    color: #494949;
    padding: 20px;
}

.scroll {
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding: 20px;
    overflow-x: auto;
    overflow-y: visible;
}

@media (max-width: 600px) {
    .form-input {
        font-size: 12px;
        height: 20px;
        margin: 0 auto 5px;
        padding: 10px;
    }
}
