.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-not-found h1 {
    color: darkslategray;
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 10px;
    font-size: 60px;
    margin: 0;
}

.page-not-found h3 {
    color: darkslategray;
    background-color: blanchedalmond;
    border-radius: 20px;

    padding: 10px;
    font-size: 30px;
}
